:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --accent-purple: #B25BFF;
    --accent-fuchsia: #FF59F9;
    --accent-pink: #FF598B;
    --accent-orange: #FF8B59;
    --accent-yellow: #FFCD59;

    --accent-lime: #E1FF59;
    --accent-green: #59FF91;
    --accent-cyan: #59FFF9;
    --accent-navy: #6A59FF;

    --feedback-danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363840;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}